<body>
    <div class="container">
      <div class="col-md-8">
        <form id="addCharacter">
          <div class="form-group">
            <label for="name">Name:</label>
            <input type="text" class="form-control" id="charName">
            <br />
            <label for="abilities">Abilities:</label>
            <input type="text" class="form-control" id="charAbilities">
            <br />
            <label for="weapons">Weapons:</label>
            <input type="text" class="form-control" id="charWeapons">
            <br />
            <label for="origin">Origin:</label>
            <input type="text" class="form-control" id="charOrigin">
            <br />
            <label for="appearance">First Appearance:</label>
            <input type="text" class="form-control" id="charAppearance">
            <br />
            <label for="affiliate">Team Affiliations:</label>
            <input type="text" class="form-control" id="charAffiliations">
            <br />
            <label for="strength">Strength:</label>
            <input type="text" class="form-control" id="charStrength">
            <br />
            <label for="health">Health:</label>
            <input type="text" class="form-control" id="charHealth">
            <br />
            <button type="submit" class="btn btn-success submit btn-lg">Submit</button>
          </div>
        </form>
      </div>
  </div>
    
  
  <!-- Custom Script -->
  <script src="js/addCharacter.js" type="text/javascript"></script>

</body>

