{{!-- PASSPORT: This is the user dashboard that the user gets redirected to after signing in.  You can rename this to whatever you want from dashboard --}}
<div class="container">
    <div class="row">
        <div class="col-8">
            <h2>Dashboard</h2>
            <h5>Hurray! you are logged in.</h5>
            <a href="/">Continue -></a>
        </div>
    </div>
</div>