nav ul a,
nav .brand-logo {
  font-weight: bold;
  color: #444;
}

p {
  line-height: 2rem;
}

/* .span-card-title {
    color: black;
} */

.sidenav-trigger {
  color: rgb(107, 3, 3);
}

.parallax-container {
  min-height: 380px;
  line-height: 0;
  height: auto;
  color: rgba(255, 255, 255, .9);
}

.parallax-container .section {
  width: 100%;
}

@media only screen and (max-width : 992px) {
  .parallax-container .section {
    position: absolute;
    top: 40%;
  }

  #home-banner .section {
    top: 10%;
  }
}

@media only screen and (max-width : 600px) {
  #home-banner .section {
    top: 0;
  }
}

.icon-block {
  padding: 0 15px;
}

.icon-block .material-icons {
  font-size: inherit;
}

footer.page-footer {
  margin: 0;
}

/* Set height to 100% for body and html to enable the background image to cover the whole page: */
body,
html {
  height: 100%;
  width: 100%;
  font-weight: bold;
}

.bgimg {
  /* Background image */
  background-image: url("../images/sLee-1.jpg");
  /* Full-screen */
  height: 100%;
  /* Center the background image */
  background-position: center;
  /* Scale and zoom in the image */
  background-size: cover;
  /* Add position: relative to enable absolutely positioned elements inside the image (place text) */
  position: relative;
  /* Add a black text color to all elements inside the .bgimg container */
  color: whitesmoke;
  /* Add a font */
  font-family: "Courier New", Courier, monospace;
  /* Set the font-size to 25 pixels */
  font-size: 25px;
}

/* Position text in the top-left corner */
.topleft {
  position: absolute;
  top: 0;
  left: 16px;
}

/* Position text in the bottom-left corner */
.bottomleft {
  position: absolute;
  bottom: 0;
  left: 16px;
}

/* Position text in the middle */
.middle {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

/* Style the <hr> element */
hr {
  margin: auto;
  width: 40%;
}

/* .list-group-item {
  line-height: 2.5;
}

.navbar {
  margin-bottom: 40px;
}

.nav {
  background-color: slategray;
}

a {
color: white;
}
img {
  max-height: 100%;
  max-width: 100%;

}

#scrollable {
overflow:scroll; 
height:200px;
}

footer {
  text-align: center;
  text-align: bottom;
}

button.submit {
  float: right;
}

form#cms {
  margin-top: 50px;
}

#cms textarea {
  resize: none;
}

.card-header button.delete,
button.edit {
  float: right;
  margin: 5px;
}

.card-header button.edit {
  background-color: white;
}

.card {
    background-color: slategray;
}

.card-body {
    background-color: white;
}

#leftside {
  width: 300px;
}

.container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  background-color: black;
}

.blog-container {
  display: flex;
  flex-direction: column-reverse;
}

.character-container {
  display: flex;
  flex-direction: column-reverse;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font: 13px Helvetica, Arial;
}

form {
  background: #000;
  padding: 3px;
  bottom: 0;
  width: 100%;
}

form input {
  border: 0;
  padding: 10px;
  width: 30%;
  margin-right: .5%;
}

form button {
  width: 100%;
  background: rgb(130, 224, 255);
  border: none;
  padding: 10px;
}

label {
  color: white;
}

#messages {
  list-style-type: none;
  width: 50%;
  margin: 0;
  padding: 0;
}

#messages li {
  width: 50%;
  padding: 5px 10px;
}

#messages li:nth-child(odd) {
  width: 100%;
  background: #eee;
}

#messages {
  width: 100%;
  margin-bottom: 40px;
  text-wrap: 

} */